.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 420px;
  border-radius: 42px;
  border: 3px solid blue;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.input {
  width: 380px;
}

.button {
  background-color: #4CAF50;
  width: 250px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: right;
  justify-content: right;
  align-items: center;
}