html {
 background-color: #f0f0f0;
}

.chainflex {
 display: flex;
 flex-wrap: wrap;
 align-content: flex-start;
 padding: 8px 8px;
}

.card {
 padding: 8px;
 margin: 8px;
 background-color: white;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
}